h4{
    text-align: center;
    color:burlywood;
    margin-top: 7%;
    margin-bottom: 2%;
    @keyframes slidein {
        from: translateX(0%);
        to: translateX(100%);
    };
}


#newsContent{
    background-color: aqua;
    width: 30%;
    height:200px;
    margin: auto;
    align-content: center;
    overflow: scroll;

    border: 1px solid red;
    border-radius: 2%;

}

#newsContent::-webkit-scrollbar{
    width:10px;
}

#newsContent::-webkit-scrollbar-track{
    background:grey;
}

#newsContent::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 20px;
    border: 3px solid grey;
}

